.navbar{
background-image: url(/images/navbarvint.jpeg)
}
body{
background-color: black;
}
.navbar-brand{
    font-family: 'Allura', cursive;
    font-size: 35px;
    margin-left: 2px;
}
.nav-item{
    font-family: 'Reenie Beanie', cursive;
    font-size: 22px;
    margin-right: 10px;
    margin-left: 25px;
    transition: 0.5s;
}
.nav-item :hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.img{
    background-image: url(/images/pleaseworkflag.png);
    height: 160px;
    width: 1264px;
    margin-bottom: 80px;
}
.wordsinpic{
    font-weight: bolder;
    text-align: center;
    font-family:'Reenie Beanie', cursive; ;
    font-size: 2.7em;
margin-top: 15px;
}
.earlyyearpic{
background-image: url(/images/queeeeen.png);
height: 300px;
width: 600px;
}
.toptext{
    font-family: 'Allura', cursive;
    color: white;
    font-size: 4em;
}
.bottomtext{
    font-family:'Reenie Beanie', cursive; ;
    color: #e3dac9;
    font-size: 1em;
}
.earlyyearbor{
border-top: red ridge 2px;
border-bottom: red ridge 2px;
border-right: red ridge 2px;
border-left: red ridge 2px ;
}
.majaccpic{
    background-image: url(/images/majoraccom.png);
    height: 300px;
    width: 600px;
}
.majaccbor{
border-top: navy ridge 2px;
border-bottom: navy ridge 2px;
border-right: navy ridge 2px;
border-left: navy ridge 2px ;
}
.conpic{
    background-image: url(/images/con.png);
    height: 300px;
    width: 600px;
}
.conbor{
    border-top: white ridge 2px;
    border-bottom: white ridge 2px;
    border-right: white ridge 2px;
    border-left: white ridge 2px ;
    }
    .toptextcon{
        font-family: 'Allura', cursive;
        color: white;
        font-size: 3em;
    }
.eventsspic{
    background-image: url(/images/events.png);
    height: 300px;
    width: 600px;
}
.eventsbor{
    border-top: red ridge 2px;
    border-bottom: red ridge 2px;
    border-right: red ridge 2px;
    border-left: red ridge 2px;
}
.bullets{
    font-family:'Reenie Beanie', cursive; ;
    color: #e3dac9;
    font-size: 1em;   
    text-align: left;
    font-size: 1em; 
}
.bottomtextcon{
    font-family:'Reenie Beanie', cursive; ;
    color: #e3dac9;
}
