.navbar{
background-image: url(/images/navbarvint.jpeg)
}
body{
background-color: black;
}
.navbar-brand{
    font-family: 'Allura', cursive;
    font-size: 35px;
    margin-left: 2px;
}
.nav-item{
    font-family: 'Reenie Beanie', cursive;
    font-size: 22px;
    margin-right: 10px;
    margin-left: 25px;
    transition: 0.5s;
}
.nav-item :hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.img{
    background-image: url(/images/pleaseworkflag.png);
    height: 160px;
    width: 1264px;
    margin-bottom: 80px;
}
.wordsinpic{
    font-weight: bolder;
    text-align: center;
    font-family:'Reenie Beanie', cursive; ;
    font-size: 2.7em;
margin-top: 15px;
}
.earlyyearpic{
background-image: url(/images/queeeeen.png);
height: 300px;
}
.toptext{
    font-family: 'Allura', cursive;
    color: white;
    font-size: 4em;
}
.bottomtext{
    font-family:'Reenie Beanie', cursive; ;
    color: tan;
    font-size: 2em;
}
.help{
border-top: red dotted 2px;
border-bottom: red dotted 2px;
border-right: red dotted 2px;
border-left: red dotted 2px ;
}